/* Fade transition for main content area */
.fade-in {
  opacity: 1;
  transition: opacity 0.22s cubic-bezier(0.4,0,0.2,1);
}
.fade-out {
  opacity: 0;
  transition: opacity 0.22s cubic-bezier(0.4,0,0.2,1);
}.fade-enter,
.fade-appear {
  transform: scale(0.95);
  opacity: 0;
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.fade-enter-active,
.fade-appear-active {
  transform: scale(1);
  opacity: 1;
  transition: transform 400ms ease, opacity 400ms ease;
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.fade-exit {
  transform: scale(1);
  opacity: 1;
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.fade-exit-active {
  transform: scale(0.95);
  opacity: 0;
  transition: transform 400ms ease, opacity 400ms ease;
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.fade-enter-done {
  opacity: 1;
  position: static;
  z-index: auto;
}
